$themes: (
  light: (
    font-color: rgb(0, 0, 0),
    primary-border-color: rgba(242, 242, 242, 1)
  ),
  dark: (
    font-color: rgb(255, 255, 255),

    primary-background-color: rgb(25, 25, 25),
    secondary-background-color: rgb(31, 31, 31),

    primary-border-color: rgb(58, 58, 58),
    secondary-border-color: rgb(45, 45, 45),

    scrollbar-background-color: rgb(31, 31, 31),
    scrollbar-thumb-color: rgb(55, 55, 55),

    box-shadow: (0px 12px 32px 4px rgba(0, 0, 0, .36), 0px 8px 20px rgba(0, 0, 0, .72)),
    box-shadow-light: (0px 0px 12px rgba(0, 0, 0, .72)),
    box-shadow-lighter: (0px 0px 6px rgba(0, 0, 0, .72)),
    box-shadow-dark: (0px 16px 48px 16px rgba(0, 0, 0, .72), 0px 12px 32px #000, 0px 8px 16px -8px #000),

    hover-color: rgb(45, 45, 45),

    textfield-background: rgb(45, 45, 45),
    textfield-focus-background: rgb(29, 31, 34)
  ),
);

$theme-colorschema: (
  blue: (primary-accent-color: rgb(76, 194, 255))
);

@mixin themeify {

  @each $theme-name,
  $theme-map in $themes {
    * [data-theme="#{$theme-name}"] {

      @each $var-name,
      $var-value in $theme-map {
        --#{$var-name}: #{$var-value};
      }

      color: map-get($theme-map, 'font-color');
    }
  }

  @each $colorschema-name,
  $colorschema in $theme-colorschema {
    * [data-colorschema="#{'' + $colorschema-name}"] {

      @each $var-name,
      $var-value in $colorschema {
        --#{$var-name}: #{$var-value};
      }
    }
  }
}